<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../static/style/style.css">
</head>
<body>
    <div class="main">
        <ul class="music">
            <li class="musicItem"></li>
            <li class="musicItem"></li>
        </ul>
        <div class="logo">
            
        </div>
        <div class="btns">
            <div class="startGame">
                
            </div>
            <div class="rank">
                
            </div>
        </div>
    </div>
</body>
</html>